# LFS settings
# If changed, also change in .github/workflows/ci.yml
# We assume that any PNG file in a folder named "screenshots/" is a screenshot test output.
**/screenshots/*.png filter=lfs diff=lfs merge=lfs -text
