[workspace]
members = [
    "crates/xilem_core",
    "crates/xilem_svg",
    "crates/xilem_html",
    "crates/xilem_html/web_examples/counter",
    "crates/xilem_html/web_examples/counter_untyped",
    "crates/xilem_html/web_examples/todomvc",
    ".",
]

[package]
name = "xilem"
version = "0.1.0"
license = "Apache-2.0"
edition = "2021"

# This is just a bin for now but will be a lib + examples soon

[features]
default = ["x11"]

gtk = ["glazier/gtk"]
x11 = ["glazier/x11"]
wayland = ["glazier/wayland"]

[dependencies]
vello = { git = "https://github.com/linebender/vello", rev = "006faab69fc519c9c7ed6002be740914efad9ffe" }
wgpu = "0.16.0"
raw-window-handle = "0.5"
png = "0.16.2"
rand = "0.7.3"
roxmltree = "0.13"
bytemuck = { version = "1.7.2", features = ["derive"] }
parley = { git = "https://github.com/dfrg/parley", rev = "2371bf4b702ec91edee2d58ffb2d432539580e1e" }
tokio = { version = "1.21", features = ["full"] }
futures-task = "0.3"
bitflags = "1.3.2"
tracing = "0.1.37"
test-log = "0.2.11"
env_logger = "0.10.0"
accesskit = "0.9.0"
fnv = "1.0.7"
xilem_core = { version = "0.1", path = "crates/xilem_core" }

[dependencies.glazier]
git = "https://github.com/linebender/glazier"
rev = "51eb418511790309b90b0d9838e4d91fc11d84d3"
default-features = false
features = ["accesskit"]
