[workspace]
resolver = "2"
members = [
    "xilem",
    "xilem_core",
    "masonry",

    "xilem_web",
    "xilem_web/web_examples/counter_custom_element",
    "xilem_web/web_examples/todomvc",
    "xilem_web/web_examples/counter",
    "xilem_web/web_examples/mathml_svg",
    "xilem_web/web_examples/svgtoy",
]

# exclude = ["xilem_web2/web_examples/web-playground"]

[workspace.package]
edition = "2021"
license = "Apache-2.0"
repository = "https://github.com/linebender/xilem"
homepage = "https://xilem.dev/"

[workspace.lints]
clippy.semicolon_if_nothing_returned = "warn"
# Remove assigning_clones once it's allowed by default in stable Rust
# https://github.com/rust-lang/rust-clippy/pull/12779
clippy.assigning_clones = "allow"
rust.unexpected_cfgs = { level = "warn", check-cfg = [
    'cfg(FALSE)',
    'cfg(tarpaulin_include)',
] }

[workspace.dependencies]
xilem_web_core = { version = "0.1.0", path = "xilem_web/xilem_web_core" }
masonry = { version = "0.2.0", path = "masonry" }
xilem_core = { version = "0.1.0", path = "xilem_core" }
vello = "0.2.0"
wgpu = "0.20.0"
kurbo = "0.11.0"
parley = "0.1.0"
peniko = "0.1.1"
winit = "0.30.2"
tracing = { version = "0.1.40", default-features = false }
smallvec = "1.13.2"
dpi = "0.1.1"
fnv = "1.0.7"
image = { version = "0.25.1", default-features = false }
web-time = "1.1.0"
bitflags = "2.5.0"
accesskit = "0.15.0"
accesskit_winit = "0.21.0"
