[workspace]
members = [
    "crates/xilem_core",
    "crates/xilem_web",
    "crates/xilem_web/web_examples/counter",
    "crates/xilem_web/web_examples/counter_custom_element",
    "crates/xilem_web/web_examples/todomvc",
    "crates/xilem_web/web_examples/mathml_svg",
    "crates/xilem_web/web_examples/svgtoy",
    "crates/masonry",
    "crates/xilem_masonry",
]

[workspace.package]
edition = "2021"
homepage = "https://xilem.dev/"
repository = "https://github.com/linebender/xilem"
license = "Apache-2.0"

[workspace.dependencies]
xilem_core = { version = "0.1.0", path = "crates/xilem_core" }
masonry = { version = "0.1.0", path = "crates/masonry" }
kurbo = "0.11.0"
winit = { version = "0.29", features = ["rwh_05"] }
parley = { git = "https://github.com/linebender/parley", rev = "3dd6f9b823b007724256ce19f78ad1f7ffe5d4cc" }
vello = { git = "https://github.com/linebender/vello/", rev = "b520a35addfa6bbb37d93491d2b8236528faf3b5" }

[workspace.lints]
clippy.semicolon_if_nothing_returned = "warn"

[package]
name = "xilem"
version = "0.1.0"
description = "A next-generation cross-platform Rust UI framework."
keywords = ["gui", "ui", "native", "gpu", "performance"]
categories = ["gui", "graphics", "internationalization", "accessibility"]
exclude = ["/.github/"]
publish = false                                                           # Until it's ready
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
default-target = "x86_64-pc-windows-msvc"
# rustdoc-scrape-examples tracking issue https://github.com/rust-lang/rust/issues/88791
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[lints]
workspace = true

[features]
default = ["x11", "taffy"]

x11 = ["winit/x11"]
wayland = ["winit/wayland"]
taffy = ["dep:taffy"]

[dependencies]
xilem_core.workspace = true
taffy = { version = "0.4.0", optional = true }
vello = "0.1.0"
wgpu = "0.19.3"
parley.workspace = true
tokio = { version = "1.35", features = ["full"] }
futures-task = "0.3"
bitflags = "2"
tracing = "0.1.37"
fnv = "1.0.7"
instant = { version = "0.1.6", features = ["wasm-bindgen"] }
winit = { version = "0.29", features = ["rwh_05"] }
