[workspace]
members = [
    "crates/xilem_core",
    "crates/xilem_web",
    "crates/xilem_web/web_examples/counter",
    "crates/xilem_web/web_examples/counter_custom_element",
    "crates/xilem_web/web_examples/todomvc",
    "crates/xilem_web/web_examples/mathml_svg",
    "crates/xilem_web/web_examples/svgtoy",
]

[workspace.package]
edition = "2021"
homepage = "https://xilem.dev/"
repository = "https://github.com/linebender/xilem"
license = "Apache-2.0"

[workspace.dependencies]
xilem_core = { version = "0.1.0", path = "crates/xilem_core" }
kurbo = "0.11.0"

[package]
name = "xilem"
version = "0.1.0"
description = "A next-generation cross-platform Rust UI framework."
keywords = ["gui", "ui", "native", "gpu", "performance"]
categories = ["gui", "graphics", "internationalization", "accessibility"]
exclude = ["/.github/"]
publish = false # Until it's ready
license.workspace = true
edition.workspace = true
homepage.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
all-features = true
rustdoc-args = ["--cfg", "docsrs"]
default-target = "x86_64-pc-windows-msvc"
# rustdoc-scrape-examples tracking issue https://github.com/rust-lang/rust/issues/88791
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[features]
default = ["x11", "taffy"]

x11 = ["glazier/x11"]
wayland = ["glazier/wayland"]
taffy = ["dep:taffy"]

[dependencies]
xilem_core.workspace = true
taffy = { version = "0.4.0", optional = true }
vello = { git = "https://github.com/linebender/vello", rev = "b1bd9e361f2944b71cef0ea8a2c71dce5182d79b" }
wgpu = "0.18.0"
parley = { git = "https://github.com/dfrg/parley", rev = "1940d1ae9f2a9b44b7c18967147ffa7d345fdafd" }
tokio = { version = "1.35", features = ["full"] }
futures-task = "0.3"
bitflags = "2"
tracing = "0.1.37"
accesskit = "0.12"
fnv = "1.0.7"
instant = { version = "0.1.6", features = ["wasm-bindgen"] }

[dependencies.glazier]
git = "https://github.com/linebender/glazier"
rev = "8d2a4b2cafd5e6be49bfb4ac8d0bd26fe02f036e"
default-features = false
features = ["accesskit"]

[dev-dependencies]
env_logger = "0.10.0"
test-log = "0.2.11"
