html,body {
  font-family: sans-serif;
}

.hidden {
  display:none;
}

.card {
  box-shadow: 1px 1px 3px #555;
  border-radius: 5px;
}

.card .title {
  cursor: pointer;
  margin: 0;
  color: #444;
  background: #ddd;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #aaa;
  padding: 0.2em 0.5em;
}

.card .content {
  color: #333;
  background: #eee;
  border-radius: 0 0 5px 5px;
  padding: 1em;
}

button {
  margin: 0.3em 0.7em;
  padding: 0.3em 0.5em;
}
