[package]
name = "masonry_winit"
version = "0.2.0"
description = "Data-oriented Rust UI design toolkit."
keywords = ["gui", "ui", "toolkit"]
categories = ["gui", "internationalization", "accessibility"]
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
exclude = ["/doc/", ".gitignore"]
rust-version.workspace = true

[package.metadata.docs.rs]
all-features = true
# There are no platform specific docs.
default-target = "x86_64-unknown-linux-gnu"
targets = []
# rustdoc-scrape-examples tracking issue https://github.com/rust-lang/rust/issues/88791
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[features]
default = []
tracy = ["masonry/tracy"]

[lints]
workspace = true

[dependencies]
# TODO - Rename this dependency to masonry_core
masonry.workspace = true
vello.workspace = true
wgpu.workspace = true
parley.workspace = true
winit.workspace = true
tree_arena.workspace = true
smallvec.workspace = true
tracing = { workspace = true, features = ["default"] }
image.workspace = true
once_cell = "1.19.0"
serde = { version = "1.0.204", features = ["derive"] }
serde_json = "1.0.120"
futures-intrusive = "0.5.0"
pollster = "0.4.0"
tracing-subscriber = { version = "0.3.18", features = ["env-filter", "time"] }
accesskit.workspace = true
accesskit_winit.workspace = true
time = { workspace = true, features = ["macros", "formatting"] }
cursor-icon = "1.1.0"
dpi.workspace = true
wgpu-profiler = { optional = true, version = "0.19.0", default-features = false }
anymap3 = "1.0.1"
keyboard-types = "0.7.0"

[target.'cfg(target_arch = "wasm32")'.dependencies]
web-time.workspace = true

[dev-dependencies]
float-cmp = { version = "0.10.0", features = ["std"], default-features = false }
image = { workspace = true, features = ["png"] }
insta = { version = "1.39.0" }
assert_matches = "1.5.0"

# Make wgpu use tracing for its spans.
profiling = { version = "1.0.15", features = ["profile-with-tracing"] }

[target.'cfg(target_os = "android")'.dependencies]
tracing_android_trace = "0.1.0"

[[example]]
name = "calc_masonry"
test = true

[[example]]
name = "custom_widget"
test = true

[[example]]
name = "grid_masonry"
test = true

[[example]]
name = "hello_masonry"
test = true

[[example]]
name = "simple_image"
test = true
#required-features = ["image", "png"]
# This actually enables scraping for all examples, not just this one.
# However it is possible to set doc-scrape-examples to false for other specific examples.
doc-scrape-examples = true

[[example]]
name = "to_do_list"
test = true

[[example]]
name = "two_textboxes"
test = true
