[package]
name = "xilem"
version = "0.1.0"
description = "A next-generation cross-platform Rust UI framework."
keywords = ["gui", "ui", "native", "gpu", "performance"]
categories = ["gui", "graphics", "internationalization", "accessibility"]
edition.workspace = true
license.workspace = true
repository.workspace = true
homepage.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
all-features = true
# rustdoc-scrape-examples tracking issue https://github.com/rust-lang/rust/issues/88791
cargo-args = ["-Zunstable-options", "-Zrustdoc-scrape-examples"]

[[example]]
name = "mason"

[[example]]
# A custom example target which uses the same `mason.rs` file but for android
name = "mason_android"
path = "examples/mason.rs"
# cdylib is required for cargo-apk
crate-type = ["cdylib"]

[[example]]
name = "calc"

[[example]]
name = "calc_android"
path = "examples/calc.rs"
# cdylib is required for cargo-apk
crate-type = ["cdylib"]

[lints]
workspace = true

[dependencies]
xilem_core.workspace = true
masonry.workspace = true
winit.workspace = true
tracing.workspace = true
vello.workspace = true
smallvec.workspace = true
accesskit.workspace = true
tokio = { version = "1.39.1", features = ["rt", "rt-multi-thread", "time"] }

[dev-dependencies]
accesskit_winit.workspace = true

[target.'cfg(target_os = "android")'.dev-dependencies]
winit = { features = ["android-native-activity"], workspace = true }
